$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

$base-width:834px;
$base-height:687px;
$distance: 200px;
$distance-m: 100px;
$scale: 0.8;
$scale-mobile: 0.4;
$hornScale: 0.6;

$bibs-width: $base-width*$scale;
$bibs-height: $base-height*$scale;
$bibs-width-m: $base-width*$scale-mobile;
$bibs-height-m: $base-height*$scale-mobile;
$hornHeight: 454px*$hornScale;
$hornWidth: 340px*$hornScale;


.mainText {
  margin: 0 50px;
  margin-top: 30px;
  position: absolute;
  width: calc(100% - 100px);
  height: 115px;
  background: url('/images/mainText.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.info {
  height: 200px;
  bottom: 0;
  position: absolute;
  width: 100%;

  .social {
    bottom: 40px;
    left: 40px;
    position: absolute;
    img {
      .mobile & {
        width: 14%;
      }
    }
    a {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  .counter {
    text-align: right;
    font-family: 'Open Sans Hebrew', serif;
    font-weight: 900;
    color: white;
    bottom: 20px;
    right: 40px;
    position: absolute;

    .numbers {
      font-size: 50px;
      .mobile & {
        font-size: 50px*0.6;
      }
    }
    .bibips {
      font-size: 30px;

      .mobile & {
        font-size: 30px*0.6;
      }
      color: #2d2f32;
    }
    .brought-by, a {
      font-size: 12px;
      color: #b8b8b8;
    }
    a {
      text-decoration: underline;
    }
    p {
      margin: 0
    }
  }
}

.hitZone {
  width: 100%;
  height: 100%;
  background: black;
  background: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.fullScreen {

  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rotatinObject {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;

  .innerObject {
    height: $hornHeight;
    width: $hornWidth;
    background: white;
    position: relative;
    top: $distance;
    left: -$hornWidth/2;
    .mobile & {
      //top: $distance-m;
    }
    //454 × 340
    background: url('/images/horn.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bibs-base {
  left: 50%;
  top: 100%;
  position: absolute;
  height: 0;
  width: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  .mobile & {
    zoom: 0.8;
  }

  .bibs-body {


    background-repeat: no-repeat;
    background-size: cover;
    width: $bibs-width;
    height: $bibs-height;
    position: absolute;
    top: -$bibs-height;
    left: -$bibs-width/2;
    background: url('/images/bibi/bibi master.png');
    background-size: contain;

    .mobile & {

      //width: $bibs-width-m;
      //height: $bibs-height-m;
      //position: absolute;
      //left: -$bibs-width-m/2;
      //top: -$bibs-height-m;
    }

    &.closed {
      background: url('/images/bibi/bibi close.png');
      background-size: contain;
    }

    .hair {

      .idle {
        width: 230px;
      }
      .animating {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        position: relative;
        &.down {
          top: -200px;
          left: -90px;
          width: 460px;
        }
        &.down_left {
          top: -190px;
          left: -100px;
          width: 460px;
        }
        &.down_right {
          top: -190px;
          left: -80px;
          width: 460px;
        }
        &.left {
          top: -220px;
          left: -150px;
        }
        &.right {
          top: -216px;
          left: -120px;
        }
        &.top {
          top: -190px;
          left: -110px;
          width: 480px;
        }
        &.top_right {
          top: -190px;
          left: -110px;
          width: 480px;
        }
        &.top_left {
          top: -177px;
          left: -110px;
          width: 480px;
        }

      }

      width: 50px;
      position: relative;
      left: 220px;
      height: 50px;
    }
  }
  .bibs-eyes {
    top: -$bibs-height + 140px;
    left: -65px;
    position: absolute;

    .bibs-eye {
      background: deepskyblue;
      width: 20px;
      height: 20px;
      position: absolute;

      &.left {
        left: 4px;
        top: 40px;
      }
      &.right {
        left: 108px;
        top: 40px;
      }
      .eye-image {
        background: url('/images/bibi/eye.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
        position: relative;
      }
    }
  }
}


