<div ng-show="loaded" class="hitZone"
     ng-class="mobile? 'mobile':'' "
     ng-mousedown="OnMouseClick(true)"
     ng-mouseup="OnMouseClick(false)"
     ng-mousemove="OnMouseMove($event)">

  <div class="mainText"></div>
  <div class="bibs-base">
    <div class="bibs-eyes">
      <div class="bibs-eye left">
        <div class="eye-image" style="top:{{eye.y}}px;left:{{eye.x}}px"></div>
      </div>
      <div class="bibs-eye right">
        <div class="eye-image" style="top:{{eye.y}}px;left:{{eye.x}}px"></div>
      </div>
    </div>
    <div class="bibs-body" ng-class="pressed? 'closed':''">
      <div class="hair" >
        <img class="idle" ng-show="!animating" src="/images/bibi/bibi master hair.png">
        <img ng-class="color" class="animating sides"       ng-show="animating" src="/images/bibi/hair top layrs.png">
        <img ng-class="color" class="animating down"       ng-show="animating && direction == 'down' " src="/images/down/{{hairImage}}.png">
        <img ng-class="color" class="animating down_left"  ng-show="animating && direction == 'down_left' " src="/images/down_left/{{hairImage}}.png">
        <img ng-class="color" class="animating down_right" ng-show="animating && direction == 'down_right' " src="/images/down_right/{{hairImage}}.png">
        <img ng-class="color" class="animating left"       ng-show="animating && direction == 'left' " src="/images/left/{{hairImage}}.png">
        <img ng-class="color" class="animating right"      ng-show="animating && direction == 'right' " src="/images/right/{{hairImage}}.png">
        <img ng-class="color" class="animating top"        ng-show="animating && direction == 'top' " src="/images/top/{{hairImage}}.png">
        <img ng-class="color" class="animating top_right"  ng-show="animating && direction == 'top_right' " src="/images/top_right/{{hairImage}}.png">
        <img ng-class="color" class="animating top_left"   ng-show="animating && direction == 'top_left' " src="/images/top_left/{{hairImage}}.png">
      </div>

    </div>
  </div>

  <div class="rotatinObject"
       style="-webkit-transform: rotate({{degree}}deg);
              transform: rotate({{degree}}deg);
              -ms-transform: rotate({{degree}}deg);">
    <div class="innerObject " ng-class="pressed?'pressed': ''"></div>
  </div>





  <div class="info">
    <div class="social">
      <a onclick='ga("send", "event","Share", "Facebook");'
         target="_blank" href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=http%3A%2F%2Fbibipnetanyahu.org%2F&picture=http%3A%2F%2Fbibipnetanyahu.org%2Fimages%2Ffb_share.jpg&name=Bibipnetanyahu.org&caption=%20&description=%20%D7%A6%D7%A4%D7%A6%D7%A4%D7%95%20%D7%95%D7%A2%D7%96%D7%A8%D7%95%20%D7%9C%D7%91%D7%99%D7%91%D7%99%20%D7%9C%D7%9E%D7%A6%D7%95%D7%90%20%D7%90%D7%AA%20%D7%94%D7%9C%D7%95%D7%A7%20%D7%94%D7%97%D7%93%D7%A9%20%20%23%D7%91%D7%99%D7%91%D7%99%D7%A4%D7%A0%D7%AA%D7%A0%D7%99%D7%94%D7%95%20%2C%20%20bibipnetanyahu%23&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F"><img src="/images/social_fb.png" ></a>
      <a onclick='ga("send", "event","Share", "Whatsapp");'
         target="_blank" href="/images/instagram_share.jpg"><img src="/images/social_insta.png" ></a>
      <a onclick='ga("send", "event","Share", "Twitter");'
         target="_blank" href="http://twitter.com/intent/tweet?text=%D7%9E%D7%A6%D7%A4%D7%A6%D7%A4%D7%99%D7%9D%20%D7%95%D7%91%D7%95%D7%97%D7%A8%D7%99%D7%9D%20%D7%9C%D7%91%D7%99%D7%91%D7%99%20%D7%90%D7%AA%20%D7%94%D7%9C%D7%95%D7%A7%20%D7%94%D7%97%D7%93%D7%A9%20http%3A%2F%2Fbibipnetanyahu.org%2F"><img src="/images/social_twitter.png" ></a>
      <a onclick='ga("send", "event","Share", "Instergram");'
         href="whatsapp://send?text=מצפצפים ובוחרים לביבי את הלוק החדש http://bibipnetanyahu.org/"><img src="/images/social_whatsapp.png" ></a>
    </div>
    <div class="counter">
      <p class="numbers">{{bibips| number}}</p>
      <p class="bibips">BIBIPS</p>
      <p class="brought-by">BROUGHT TO YOU BY <a onclick='ga("send", "event","Click", "Ng-pr");'
                                                 href="http://www.ng-pr.co.il" target="_blank">NG-PR</a></p>
    </div>
  </div>
</div>
<div ng-hide="loaded" class="hitZone loading">
  <p class="loading-text">בטעינה</p>
</div>
