<div class="hitZone"
     ng-class="mobile? 'mobile':'' "
     ng-mousedown="OnMouseClick(true)"
     ng-mouseup="OnMouseClick(false)"
     ng-mousemove="OnMouseMove($event)">

  <div class="mainText"></div>
  <div class="bibs-base">
    <div class="bibs-eyes">
      <div class="bibs-eye left">
        <div class="eye-image" style="top:{{eye.y}}px;left:{{eye.x}}px"></div>
      </div>
      <div class="bibs-eye right">
        <div class="eye-image" style="top:{{eye.y}}px;left:{{eye.x}}px"></div>
      </div>
    </div>
    <div class="bibs-body" ng-class="pressed? 'closed':''">
      <div class="hair" >
        <img class="idle" ng-show="!animating" src="/images/bibi/bibi master hair.png">
        <img ng-class="color" class="animating sides"       ng-show="animating" src="/images/bibi/hair top layrs.png">
        <img ng-class="color" class="animating down"       ng-show="animating && direction == 'down' " src="/images/down/{{hairImage}}.png">
        <img ng-class="color" class="animating down_left"  ng-show="animating && direction == 'down_left' " src="/images/down_left/{{hairImage}}.png">
        <img ng-class="color" class="animating down_right" ng-show="animating && direction == 'down_right' " src="/images/down_right/{{hairImage}}.png">
        <img ng-class="color" class="animating left"       ng-show="animating && direction == 'left' " src="/images/left/{{hairImage}}.png">
        <img ng-class="color" class="animating right"      ng-show="animating && direction == 'right' " src="/images/right/{{hairImage}}.png">
        <img ng-class="color" class="animating top"        ng-show="animating && direction == 'top' " src="/images/top/{{hairImage}}.png">
        <img ng-class="color" class="animating top_right"  ng-show="animating && direction == 'top_right' " src="/images/top_right/{{hairImage}}.png">
        <img ng-class="color" class="animating top_left"   ng-show="animating && direction == 'top_left' " src="/images/top_left/{{hairImage}}.png">
      </div>

    </div>
  </div>

  <div class="rotatinObject"
       style="-webkit-transform: rotate({{degree}}deg);
              transform: rotate({{degree}}deg);
              -ms-transform: rotate({{degree}}deg);">
    <div class="innerObject">

    </div>
  </div>
  <div class="info">
    <div class="social">
      <a href=""><img src="/images/social_fb.png" ></a>
      <a href=""><img src="/images/social_insta.png" ></a>
      <a href=""><img src="/images/social_twitter.png" ></a>
      <a href=""><img src="/images/social_whatsapp.png" ></a>
    </div>
    <div class="counter">
      <p class="numbers">{{bibips| number}}</p>
      <p class="bibips">BIBIPS</p>
      <p class="brought-by">BROUGHT TO YOU BY <a href="http://www.ng-pr.co.il" target="_blank">NG-PR</a></p>
    </div>
  </div>
  {{test}}
</div>
